<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videomontage.app">

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <application
        android:name="com.videomontage.app.MontageApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="VideoMontage"
        android:theme="@style/Theme.Montage"
        android:hardwareAccelerated="true">

        <activity
            android:name="com.videomontage.ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.videomontage.ui.editor.EditorActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

    </application>
</manifest>
